/* Specifies where the background image starts */

/*
Values:
padding-box (Default)
border-box
content-box
*/
div{
    width: 400px;
    height: 250px;
    border: 10px solid blue;
    padding: 20px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
}